{% extends 'base/base.html' %}
{% block tittle %}Registrar institución{% endblock %}
{% block contenido %}

<section id="Login">
    <section id="services-login-desktop" class="visible-desktop">
        <br>
        <h1 class="header" id="titulo">Registro de institutos</h1>
        <p class="header" id="subtitulo">Buro de Solvencia Moral.</p>
    </section>

    <section id="services-login-mobile" class="hidden-desktop">
        <br>
        <h1 class="header" id="titulo">Registro de institutos</h1>
        <p class="header" id="subtitulo">Buro de Solvencia Moral.</p>
    </section> 


	<div class="row">
		<div class="container" id="full">
			<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
				{{formulario.as_p}}
			<p><button class="btn">Registrar</button></p>
			</form>
		</div>
	</div>
</section> 






{% endblock %}

